@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

/* layout  */

.container {
  width: min(1280px, calc(100% - 4rem));
  margin-inline: auto;
}

.container:not(header > .container) {
  padding-block: 3rem;
}

.row {
  display: flex;
}

/* buttons */
button {
  cursor: pointer;
}

.icon-btn {
  height: 2.5rem;
  width: 2.5rem;
}

.btn {
  height: 2.5rem;
  padding-inline: 1rem;
  border: none;
  font: inherit;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.3rem;
}

.btn.primary {
  background-color: #5ac070;
  color: white;
}

.btn.danger {
  background-color: #f7cfcf;
  color: rgb(134, 19, 19);
}

.btn.secondary {
  background-color: #e1e1e1;
  color: rgb(21, 21, 21);
}

.btn.ghost {
  color: rgb(42, 42, 42);
  background-color: transparent;
}

.btn:is(:hover) {
  opacity: 95%;
}

.btn:focus-within {
  outline: 2px solid rgba(220, 220, 220, 0.414);
}

.badge {
  display: block;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  width: max-content;
  height: fit-content;
  border-radius: 0.3rem;
  background: #5ac070;
  text-transform: uppercase;
  letter-spacing: 1px;
  user-select: none;
  font-weight: bold;
}

.badge.md {
  padding-block: 0.5rem;
  padding-inline: 0.7rem;
  border-radius: 0.4rem;
}

.badge.lg {
  padding-block: 0.7rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
}

/* Basic text styles */

p {
  line-height: 1.6;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.section-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* header */
header > .container.row {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
}

.nav .nav__list {
  display: flex;
  gap: 0.2rem;
  list-style: none;
}

.nav__item {
  height: 2rem;
  display: block;
  border-radius: 0.3rem;
  overflow: hidden;
}

.nav__link {
  text-decoration: none;
  display: block;
  background: transparent;
  height: 100%;
  display: grid;
  place-content: center;
  font: inherit;
  padding-inline: 1rem;
  color: rgb(46, 46, 46);
  transition: background 250ms;
}

.nav__link:hover {
  background: #f6f6f6;
}

.nav__link.login {
  background: #5ac070;
  font-weight: bold;
}

.nav__link.logout {
  background: #eb7b7b;
  font-weight: bold;
}

.nav-logo {
  font-size: 1.125rem;
  font-weight: bold;
}

main {
  min-height: calc(100% - 6rem);
  background: #f8f8f8;
}

/* footer */

.footer {
  width: 100%;
  background: white;
  height: 3rem;
  display: grid;
  place-content: center;
}

/* Login Page */

.container#login {
  display: grid;
  place-content: center;
  place-items: center;
  min-height: calc(100vh - 6rem);
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.login-header p {
  color: grey;
}

.login-header p > a {
  color: #5ac070;
  text-decoration: none;
}

.login-form {
  width: min(380px, 100%);
  background: white;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 0.5rem;
  padding: 2.25rem 2rem;
  display: grid;
  gap: 2rem;
}

.login-form-grid {
  display: grid;
  gap: 2;
  grid-template-areas: "email ";
}

.login-form > button {
  background: #5ac070;
  color: white;
  font: inherit;
  font-weight: bold;
  height: 2.5rem;
  border-radius: 0.3rem;
  padding-inline: 2rem;
  border: none;
  margin-left: auto;
  width: 100%;
}

/* Register Page */
.container#register {
  display: grid;
  place-content: center;
  place-items: center;
  min-height: calc(100vh - 6rem);
  padding-block: 3rem;
}

.register-header {
  text-align: center;
  margin-bottom: 2rem;
}

.register-header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.register-header p {
  color: grey;
}

.register-header p > a {
  color: #5ac070;
  text-decoration: none;
}

.register-form {
  width: min(768px, 100%);
  background: white;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 0.5rem;
  padding: 2.25rem 2rem;
}

.register-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media screen and (max-width: 760px) {
  .register-form-grid {
    gap: 1.75rem;
    grid-template-columns: 1fr;
  }
}

.register-form-section__header {
  grid-column: span 2;
}

.register-form-section__header h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.register-form-section__header p {
  color: grey;
  max-width: 60ch;
}

.register-form > footer {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

.register-form > footer > button {
  background: #5ac070;
  color: white;
  font: inherit;
  font-weight: bold;
  height: 2.5rem;
  border-radius: 0.3rem;
  padding-inline: 2rem;
  border: none;
  margin-left: auto;
}

/* Contact Page */
.container#contact {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 6rem);
  /* background: black; */
}

.contact-form {
  width: min(600px, 100%);
  background: white;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 0.5rem;
  padding: 2.25rem 2rem;
}

.contact-form-header {
  margin-bottom: 2.5rem;
}

.contact-form-header .contact-form__title {
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-form-header .contact-form__subtitle {
  color: rgb(153, 161, 172);
}

.contact-form-grid {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "name email"
    "subject subject"
    "message message";
}

@media screen and (max-width: 760px) {
  .contact-form-grid {
    gap: 1.75rem;
    background: red;

    grid-template-areas:
      "name"
      "email"
      "subject"
      "message";
  }
}

.contact-form-grid .form-group.name {
  grid-area: name;
}

.contact-form-grid .form-group.email {
  grid-area: email;
}

.contact-form-grid .form-group.subject {
  grid-area: subject;
}

.contact-form-grid .form-group.message {
  grid-area: message;
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem;
}

.contact-form .form-group label {
  color: grey;
}

.text-input,
.select {
  height: 2.5rem;
}

.contact-form__message {
  padding-top: 0.75rem;
  font: inherit;
}

.text-input,
.contact-form__message,
.select {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 0.3rem;
  padding-inline: 1rem;
  font-size: inherit;
  width: 100%;
  color: rgb(87, 87, 87);
}

.text-input:focus:not(:read-only),
.contact-form__message:focus,
.select:focus {
  border: 1px solid #5ac070;
  outline: none;
}

.text-input:read-only {
  /* background: red; */
  cursor: not-allowed;
  outline: none;
}

.contact-form__message {
  resize: none;
  height: 6rem;
  overflow: auto;
}

.contact-form > footer {
  width: 100%;
  margin-top: 2rem;
  display: flex;
}

.contact-form > footer > button {
  background: #5ac070;
  color: white;
  font: inherit;
  font-weight: bold;
  height: 2.5rem;
  border-radius: 0.3rem;
  padding-inline: 2rem;
  border: none;
  margin-left: auto;
}

/* Prescriptions list page */
.container#prescriptions-list table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background: white;
}

.container#prescriptions-list td,
.container#prescriptions-list th {
  height: 2.5rem;
  border: 1px solid black;
}

/* Professionals Form */

.new-form {
  display: grid;
  gap: 1rem;
  /* background: red; */
}

.new-form > footer {
  display: flex;
  margin-top: 1rem;
  justify-content: end;
  gap: 1rem;
}

/* Professionals list Page */

#professionals-list {
}

#professionals-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-self: start;
  gap: 1rem;
}

#professionals-list ul li {
  flex: 1 1 calc(33% - 1rem);
}
#professionals-list ul li > a {
  text-decoration: none;
  color: inherit;
}

#professionals-list ul article {
  border: 1px solid #e1e1e1;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 0.3rem;
}

#professionals-list ul article div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#professionals-list ul article div h2 {
  font-size: 1.25rem;
}

#professionals-list ul article div span {
  font-size: 0.875rem;
  padding-top: 2px;
  padding-inline: 0.5rem;
  height: 1.5rem;
  border-radius: 0.3rem;
  width: max-content;
  color: white;
  background: #5ac070;
}

/*  Professionals detail page */

#professionals-details {
}

#professionals-details div {
  display: flex;
  gap: 2rem;
  margin-block: 2rem 1rem;
}
