<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medicare</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <header>
      <div class="container row">
        <span class="nav-logo">Medicare</span>
        <nav class="nav">
          <ul class="nav__list nav__list-private">
            <li class="nav__item">
              <a class="nav__link" href="">Inicio</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Medicacion</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Profesionales</a>
            </li>
          </ul>
          <ul class="nav__list nav__list-public">
            <li class="nav__item">
              <a class="nav__link" href="">Inicio</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Medicacion</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Profesionales</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="container">
        <div>
          <h1>MediCare Control, Tu Compañero en el Cuidado de la Salud</h1>
          <p>
            Nuestra aplicación esta diseñada para brindarte tranquilidad y
            control en el manejo de enfermedades crónicas.
          </p>
          <button>Registrarse</button>
          <button>Dejar una consulta</button>
        </div>
        <div></div>
      </section>
      <section class="container">
        <h2>Qué ofrecemos?</h2>
        <p>
          Ofrecemos una plataforma que te ayuda a llevar un registro completo de
          la medicación y las profecionales que atienden a tus seres queridos,
          simplificando así la gestión de su salud. Con MediCare Control, nunca
          perderás de vista lo más importante: su bienestar. Únete a nosotros y
          haz que el cuidado de tus seres queridos sea más fácil que nunca.
        </p>
      </section>
    </main>

    <footer class="footer">Medicare 2023</footer>
  </body>
</html>
