<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <header>
      <div class="container row">
        <span class="nav-logo">Medicare</span>
        <nav class="nav">
          <ul class="nav__list nav__list-private">
            <li class="nav__item">
              <a class="nav__link" href="">Inicio</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Medicacion</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Profesionales</a>
            </li>
          </ul>
          <ul class="nav__list nav__list-public">
            <li class="nav__item">
              <a class="nav__link" href="">Inicio</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Medicacion</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="">Profesionales</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="container" id="login">
        <header class="login-header">
          <h1>Ingreso al sistema</h1>
          <p>Aun no tenes cuenta? <a href="./register.html">registrate</a></p>
        </header>
        <form action="#" class="login-form">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="text-input" name="email" id="email" />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input
              type="password"
              class="text-input"
              name="password"
              id="password"
            />
          </div>
          <button>Iniciar sesion</button>
        </form>
      </section>
    </main>
    <footer class="footer">Medicare 2023</footer>
  </body>
</html>
